body {
  font-family: Roboto, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 0px 50px 0px;
  background-image: url("/images/bg.jpg");
  background-size: cover;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headerTitle {
  text-align: center;
}

.headerDescription {
  max-width: 400px;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: row;
  gap: 80px;
  margin: 60px 0px;
}

.content > section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
}

@media only screen and (max-width: 768px) {
  .content {
    flex-direction: column;
  }
}

/* --------------------- student details form --------------------- */
.studentDetailsForm h2 {
  border-bottom-style: dashed;
}

.studentDetailsForm form .formInput {
  display: flex;
  flex-direction: column;
}

.studentDetailsForm form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: calc(100% - 100px);
}

.studentDetailsForm form input {
  border-radius: 50px;
  height: 40px;
  padding: 2px 20px;
  border: 0;
  margin-top: 5px;
  box-shadow: 2px 2px 2px rgb(0, 0, 0, 0.3) inset;
}
.studentDetailsForm form input:focus {
  outline: none;
}
.studentDetailsForm form label {
  position: relative;
  left: 20px;
  font-weight: bold;
}

.submitBtn {
  cursor: pointer;
  width: fit-content;
  padding: 5px 10px;
  background-color: white;
  border-radius: 20px;
  border: none;
  box-shadow: 2px 2px 2px rgb(0, 0, 0);
  transition-duration: 0.25s;
  font-size: larger;
  align-self: center;
}
.submitBtn:hover {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.6);
}
.submitBtn:active {
  box-shadow: 2px 2px 2px rgb(0, 0, 0) inset;
}

/* --------------------- student details table --------------------- */
.studentDetailsTable {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 33px;
}
.studentDetailsTable h2 {
  color: white;
  border-bottom-style: dashed;
}

.tableWrapper {
  width: 90%;
  max-height: 450px;
  overflow-y: auto;
  scrollbar-width: 10px;
  scrollbar-color: #888 transparent;
}

.studentDetailsTable table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0px 20px;
}

.studentDetailsTable table thead th {
  font-size: larger;
  background-color: rgb(255, 255, 255);
  padding: 10px 10px;
}

.studentDetailsTable table tbody td {
  background-color: rgba(212, 254, 255, 0.774);
  padding: 7px 10px;
}

.studentDetailsTable table thead th:first-child,
.studentDetailsTable table tbody td:first-child {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}
.studentDetailsTable table thead th:last-child,
.studentDetailsTable table tbody td:last-child {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.studentDetailsTable table th,
.studentDetailsTable table td {
  text-align: center;
}

.studentDetailsTable table th:nth-last-child(2),
.studentDetailsTable table td:nth-last-child(2) {
  padding-left: 0px;
  padding-right: 0px;
}

.deleteBtn,
.editBtn {
  cursor: pointer;
  transition-duration: 0.25s;
}
.deleteBtn:hover {
  scale: 1.5;
  color: red;
}
.editBtn:hover {
  scale: 1.5;
  color: cyan;
}

.noRecords {
  display: none;
  font-size: xx-large;
  color: white;
  text-align: center;
}
