body {
  padding: 0px 50px 0px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headerTitle {
  text-align: center;
}

.headerDescription {
  max-width: 300px;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: row;
}

.content > section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
}

@media only screen and (max-width: 768px) {
  .content {
    flex-direction: column;
  }
}

/* --------------------- student details form --------------------- */
.studentDetailsForm form .formInput {
  display: flex;
  flex-direction: column;
}

.studentDetailsForm form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: calc(100% - 100px);
}

.studentDetailsForm form input {
  border-radius: 50px;
  height: 40px;
  width: 100%;
  padding: 2px 20px;
}
.studentDetailsForm form label {
  position: relative;
  left: 20px;
}

.submitBtn {
  width: fit-content;
  padding: 5px 10px;
  background-color: rgb(144, 255, 144);
  border-radius: 20px;
  border: none;
  box-shadow: 2px 2px 2px rgb(144, 255, 144), 2px 2px 5px green;
  font-size: larger;
  align-self: center;
}

/* --------------------- student details table --------------------- */
.tableWrapper {
  width: 100%;
  max-height: 450px;
  overflow-y: auto;
  scrollbar-width: 10px;
  scrollbar-color: #888 transparent;
}

.studentDetailsTable table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0px 10px;
}

.studentDetailsTable table thead th {
  background-color: rgb(236, 201, 254);
}

.studentDetailsTable table tbody td {
  background-color: rgb(220, 254, 201);
}

.studentDetailsTable table thead th:first-child,
.studentDetailsTable table tbody td:first-child {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}
.studentDetailsTable table thead th:last-child,
.studentDetailsTable table tbody td:last-child {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.studentDetailsTable table th,
.studentDetailsTable table td {
  text-align: center;
  padding: 5px 10px;
}
